<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

{#    Display username in the proper place#}
    <title>{{ """Display username here""" }}'s Watchlist</title>

</head>
<body>

{#Fix the Return button below#}
<a href="">&larr; Return</a>

<h2>{{ """Display username here""" }}</h2>

{#Display user's biography according to the requirement in app.py(use if)#}

<h5>{{ """Display username here""" }}'s Watchlist ({{ """Display the length of watchlist""" }}):</h5>
<ul>
{#    Display all the movies in watchlist#}
</ul>
</body>
</html>
